*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(pexels-valeriya-1833349.jpg);
    background-size: cover;
    background-position-y: 80%;
}

.header {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0.5px solid #333333;

    @media (max-width:530px) {
        display: block;
    }
}

.logo-header {
    width: 35%;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(24px, 4vw, 35px);
    font-weight: 300;
    color: #eeeeee;
    text-align: center;

    @media (max-width:530px) {
        width: 100%;
        height: 50%;
        align-content: end;
    }
}

nav {
    width: 65%;
    height: 100%;

    @media (max-width:530px) {
        width: 100%;
        height: 50%;
        align-content: center;
    }
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
}

nav li {
    width: 24%;
    margin: auto;
    font-family : "Dancing Script", cursive;
    font-size: clamp(20px, 3.5vw, 30px);
    font-weight: 300;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-out;

    @media (max-width:530px) {
        font-size: clamp(10px, 5vw, 20px);
    }
}

nav li:hover {
    background-color: #eeeeee;
    border-radius: 15px 10px;
}

nav li a {
    text-decoration: none;
    color: #eeeeee;
}

nav li a:hover {
    color: #333333;
}

main {
    width: 100%;
    top: 70px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}

main::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.accueil section {
    height: 80vh;
}

.section-recette {
    width: 80%;
    height: 100%;
    margin: auto;
}

.recette-semaine {
    width: 100%;
    height: 50%;
    align-content: center;
    text-decoration: none;
}

.recette-semaine article {
    width: clamp(5vw, 60vw, 400px);
    height: clamp(5vh, 30vh, 250px);
    margin-left: auto;
    background-image: url(pexels-ella-olsson-572949-1640774.jpg);
    background-size: cover;
    border-radius: 5px;
}

.text-accueil {
    width: 100%;
    height: 50%;
    align-content: center;
}

.text-accueil h1 {
    width: max-content;
    font-family: "Teachers", sans-serif;
    font-size: clamp(10px, 4vw, 4em);
    font-weight: 400;
    color: #333;
    background-color: #eeeeee;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-right: auto;
}

.text-accueil p {
    width: max-content;
    font-family: "Teachers", sans-serif;
    font-size: clamp(5px, 2.5vw, 2em);
    font-weight: 500;
    background-color: #eeeeee;
    border-radius: 0 5px 5px 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.accueil section:nth-child(2) {
    background-image: url(pexels-lum3n-44775-604969.jpg);
    background-position: bottom;
    background-size: cover;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }