*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(pexels-valeriya-1833349.jpg);
    background-size: cover;
    background-position-y: 75%;
}

.header {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0.5px solid #333333;

    @media (max-width:530px) {
        display: block;
    }
}

.logo-header {
    width: 35%;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(24px, 4vw, 35px);
    font-weight: 300;
    color: #eeeeee;
    text-align: center;

    @media (max-width:530px) {
        width: 100%;
        height: 50%;
        align-content: end;
    }
}

nav {
    width: 65%;
    height: 100%;

    @media (max-width:530px) {
        width: 100%;
        height: 50%;
        align-content: center;
    }
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
}

nav li {
    width: 24%;
    margin: auto;
    font-family : "Dancing Script", cursive;
    font-size: clamp(20px, 3.5vw, 30px);
    font-weight: 300;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-out;

    @media (max-width:530px) {
        font-size: clamp(10px, 5vw, 20px);
    }
}

nav li:hover {
    background-color: #eeeeee;
    border-radius: 15px 10px;
}

nav li a {
    text-decoration: none;
    color: #eeeeee;
}

nav li a:hover {
    color: #333333;
}

main {
    width: 100%;
    top: 70px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}

main::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.accueil section {
    height: 90vh;
}

.section-recette {
    width: 80%;
    height: 100%;
    margin: auto;
}

.recette-semaine {
    width: 100%;
    height: 50%;
    align-content: end;
    text-decoration: none;
}

.recette-semaine article {
    width: clamp(5vw, 60vw, 400px);
    height: clamp(5vh, 30vh, 250px);
    margin-left: auto;
    background-image: url(pexels-ella-olsson-572949-1640774.jpg);
    background-size: cover;
    border-radius: 15px;
}

.text-accueil {
    width: 100%;
    height: 50%;
    align-content: center;
}

.text-accueil h1 {
    width: max-content;
    font-family: "Teachers", sans-serif;
    font-size: 4em;
    font-weight: 300;
    color: #df8e15;
}

.text-accueil p {
    width: fit-content;
    font-family: "Teachers", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #eee;
    border-radius: 5px;
}

.accueil section:nth-child(2) {
    background-image: url(pexels-lum3n-44775-604969.jpg);
    background-position: bottom;
    background-size: cover;
}

.generateur {
    color: #eeeeee;
    font-size: 3vw;
    text-align: center;
    align-content: center;
}

.generateur p {
    width: 80%;
    margin: auto;
    display: flex;
    font-family: "Teachers", sans-serif;
    margin-bottom: 40vh;
}

.generateur input {
    width: 80%;
    height: 10%;
    margin: auto;
    display: flex;
}